@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-[5px] border-b border-gray-300 focus:outline-none focus:border-blue-500 transition duration-200;
}

.cardButton {
  @apply px-5 py-1 border border-gray-400 rounded text-gray-700 hover:bg-gray-400 hover:text-white transition;
}
