@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-[5px] border-b border-gray-300 focus:outline-none focus:border-blue-500 transition duration-200;
}

.cardButton {
  @apply min-w-[60px] px-3 py-1 border border-gray-400 rounded text-gray-700 flex-1 lg:min-w-[80px] sm:flex-none text-center 
  hover:bg-gray-400 hover:text-white transition text-sm;
}
